body{
  background-color: rgb(209,204,204);
}
.templateContainer {
  margin: 5% 0;
}
.template {
  max-width: 300px;
}
.templateContainer > .searchInput_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 10px;
  width: 315px;
}
.templateContainer > .searchInput_Container input{
  width: 50%;
  padding: 10px;
  outline: none;
}
.templateContainer .template_Container{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.templateContainer .template_Container .template{
  background-color: white;
  margin: 50px;
  padding: 20px;
}
.templateContainer .template_Container .template img {
  display: block;
  margin: 0 auto;
  width: 250px;
  height: 250px;
}